
<h1> This is the about page header </h1>

<p>This is the about page!</p>
<h3>Name:</h3>
<p>Alex Kuang</p>
<br>
<h3>Email:</h3>
<p>uoroaix@gmail.com</p>
<br>
<h3>Phone:</h3>
<p>1234567894</p>
<br>
<h3>Picture:</h3>
<p><img src="http://www.designbolts.com/wp-content/uploads/2013/06/despicable-me-characters-wallpaper.jpg" width="200" height="250"></img></p>
